.reasons__title {
	display: block;
	width: 80%;
	margin: 0 auto;
	margin-bottom: 26px;

	font-size: 14px;
	line-height: 26px;
	font-weight: normal;
	color: @dark_gray;

	text-transform: uppercase;

	text-align: center;

}



.reason__text--first {
	padding-top: 85px;
	padding-bottom: 43px;

	text-align: center;


	background-color: #69B1D3;

	background-image: url("../img/bg-triangle.png");
	background-repeat: no-repeat;
	background-position: left top;

	background-size: 100% 36px;

}


.reason__title--first {
	width: 87%;
	margin: 0 auto;
	margin-bottom: 20px;

	font-size: 21px;
	line-height: 10px;
	font-weight: normal;
	text-transform: uppercase;
	color: #ffffff;
}


.reason__number--first {
	.default;
	width: 87%;
	margin: 0 auto;

	font-size: 14px;
	line-height: 21px;
	color: #ffffff;
	text-transform: uppercase;


	margin-bottom: 20px;
}

.reason__description--first {
	width: 87%;
	margin: 0 auto;

	font-size: 14px;
	line-height: 21px;
	color: #ffffff;
	text-transform: uppercase;
}


.reason__img--first {
	height: 256px;
	background-image: url("../img/photo-city.svg");
	background-repeat: no-repeat;
	background-position: 50% bottom;
	background-size: 100% 256px;	
}

.reason__options {
	padding: 38px 0;
}

@media(min-width: @tablet-width) {
	.reasons__title {
		margin-bottom: 43px;
	}

	.reason__header {
		display: flex;
	}

	.reason__text--first {
		width: 33.3333%;
		padding: 48px 0;
		height: 256px;
		box-sizing: border-box;


		background-image: none;
		background-color: #8EB7D6;
	}

	.reason__img {
		width: 66.6666%;
	}

	.reason__title--first {
		width: 66%;
		min-height: 45px;
		line-height: 26px;
		margin-bottom: 10px;
	}

	.reason__number--first {
		width: 66%;
	}
	
	.reason__description--first {
		width: 66%;
	}

	.reason__options {
		display: flex;
		padding: 0;
	}	
}

@media(min-width: @desktop-width) {
	.reason__title--first {
		width: 31%;
	}

	.reason__text--first {
		padding: 55px 0;
	}


}