	<footer class="page-footer">
      <div class="page-footer__container">
          <div class="page-footer__hashtag"><a href="#">#VisitSedona</a></div>
      
      <div class="page-footer__socials">
        <a class="page-footer__social page-footer__social--twitter">Твиттер
            <svg>
                <use xlink:href="#icon-twitter"></use>
            </svg>
        </a>
        <a class="page-footer__social page-footer__social--facebook">Фейсбук
          <svg>
                <use xlink:href="#icon-facebook"></use>
            </svg>
        </a>
        <a class="page-footer__social page-footer__social--youtube">YouTube
          <svg>
                <use xlink:href="#icon-youtube"></use>
            </svg>
        </a>
      </div>

      <div class="page-footer__copyright copyright">
        <b class="copyright__title">Разработано</b>
            <svg>
                <use xlink:href="#icon-htmlacademy"></use>
            </svg>
      </div>
    </div>

 	</footer>

</div>