  <div class="wrapper">
    
  	<div style="display: none">
		<svg src="sprite.svg" class="sprite-svg"></svg>
	</div>

 	<header class="page-header">
 		
 		<nav class="page-header__nav nav">
 			<button class="nav__toggle nav__toggle--close">
 				<svg width="23" height="21">
         			 <use xlink:href="#icon-cross"></use>
        	</svg>
 			</button>


 			
 			<ul class="nav__list nav__list--right">
 				<li class="nav__item">
 					<a href="#">Главная</a>
 				</li>
 				<li class="nav__item">
 					<a href="#">Фото и видео</a>
 				</li>
 			</ul>

 			<ul class="nav__list nav__list--right">
 				<li class="nav__item">
 					<a href="#">Форма отзыва</a>
 				</li>
 				<li class="nav__item">
 					<a href="#">Html Academy</a>
 				</li>				
 			</ul>

 		</nav>
		
 		<a class="page-header__logo" href="#">
 			<picture>
 				<source srcset="img/logotype-desktop.svg"  media="(min-width: 1200px)">
	 			<source srcset="img/logotype-tablet.svg"  media="(min-width: 768px)">
	 		    <img src="img/logotyle-mobile.svg" alt="logo">
 			</picture>
 		</a>


 		<button class="page-header__toggle">
 				<svg width="23" height="21">
         			 <use xlink:href="#icon-menu"></use>
        		</svg>
 		</button>
 	</header>